language: android
dist: trusty
sudo: false

android:
  components:
    - tools
    - platform-tools
    - build-tools-29.0.3
    - android-29
    - android-22
    - extra-android-m2repository
    - extra-android-support
    - extra-google-m2repository
    - extra-google-google_play_services
    - sys-img-armeabi-v7a-android-22

jdk:
  - oraclejdk8

before_install:
  - yes | sdkmanager "build-tools;29.0.3"
  - chmod +x gradlew

script:
  - ./gradlew build
  - ./gradlew jacocoTestReport
  - ./gradlew assembleAndroidTest
  - echo no | android create avd --force -n test -t android-22 --abi armeabi-v7a
  - emulator -avd test -no-skin -no-audio -no-window &
  - android-wait-for-emulator
  - adb shell input keyevent 82 &
  - ./gradlew connectedCheck

after_success:
  - bash <(curl -s https://codecov.io/bash)
