<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smlnskgmail.jaman.hashchecker">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/common_app_name"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeLight"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/common_app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:node="merge">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.smlnskgmail.jaman.hashchecker.ACTION_START_WITH_TEXT_SELECTION" />
                <action android:name="com.smlnskgmail.jaman.hashchecker.ACTION_START_WITH_FILE_SELECTION" />
                <action android:name="com.smlnskgmail.jaman.hashchecker.ACTION_START_WITH_FOLDER_SELECTION" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.LAUNCHER" />

                <data android:mimeType="application/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="video/*" />
                <data android:mimeType="image/*" />
            </intent-filter>

        </activity>

    </application>

</manifest>
